<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SingleServlet</servlet-name>
    <servlet-class>cn.zlpc.servlet.SingleServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MultiServlet</servlet-name>
    <servlet-class>cn.zlpc.servlet.MultiServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.zlpc.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>QueryServlet</servlet-name>
    <servlet-class>cn.zlpc.servlet.QueryServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>cn.zlpc.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>BackupsRestoreServlet</servlet-name>
    <servlet-class>cn.zlpc.servlet.BackupsRestoreServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserDeleteServlet</servlet-name>
    <servlet-class>cn.zlpc.servlet.UserDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>StartStopAuctionServlet</servlet-name>
    <servlet-class>cn.zlpc.servlet.StartStopAuctionServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AuctionTimeSettingServlet</servlet-name>
    <servlet-class>cn.zlpc.servlet.AuctionTimeSettingServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowAnnounceServlet</servlet-name>
    <servlet-class>cn.zlpc.servlet.ShowAnnounceServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PrTaNoticeServlet</servlet-name>
    <servlet-class>cn.zlpc.servlet.PrTaNoticeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AuctionStateServlet</servlet-name>
    <servlet-class>cn.zlpc.servlet.AuctionStateServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AutionForListServlet</servlet-name>
    <servlet-class>cn.zlpc.servlet.AutionForListServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SaveAuctionServlet</servlet-name>
    <servlet-class>cn.zlpc.servlet.SaveAuctionServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AttestAndAttentionServlet</servlet-name>
    <servlet-class>cn.zlpc.servlet.AttestAndAttentionServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UploadPictureServlet</servlet-name>
    <servlet-class>cn.zlpc.servlet.UploadPictureServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ExportServlet</servlet-name>
    <servlet-class>cn.zlpc.servlet.ExportServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AJAXServlet</servlet-name>
    <servlet-class>cn.zlpc.servlet.AJAXServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteImageServlet</servlet-name>
    <servlet-class>cn.zlpc.servlet.DeleteImageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AdminUpdatePass</servlet-name>
    <servlet-class>cn.zlpc.servlet.AdminUpdatePass</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>InitManagerServlet</servlet-name>
    <servlet-class>cn.zlpc.dwr.InitManagerServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>dwr-invoker</servlet-name>
    <servlet-class>uk.ltd.getahead.dwr.DWRServlet</servlet-class>
    <init-param>
      <param-name>debug</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>scriptCompressed</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <description>使用服务器推技术(反转AJAX)</description>
      <param-name>activeReverseAjaxEnabled</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>crossDomainSessionSecurity</param-name>
      <param-value>false</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>InsureServlet</servlet-name>
    <servlet-class>cn.zlpc.servlet.InsureServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>dwr-invoker</servlet-name>
    <url-pattern>/dwr/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InitManagerServlet</servlet-name>
    <url-pattern>/InitManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SingleServlet</servlet-name>
    <url-pattern>/SingleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MultiServlet</servlet-name>
    <url-pattern>/MultiServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryServlet</servlet-name>
    <url-pattern>/QueryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BackupsRestoreServlet</servlet-name>
    <url-pattern>/BackupsRestoreServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StartStopAuctionServlet</servlet-name>
    <url-pattern>/StartStopAuctionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AuctionTimeSettingServlet</servlet-name>
    <url-pattern>/AuctionTimeSettingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserDeleteServlet</servlet-name>
    <url-pattern>/UserDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowAnnounceServlet</servlet-name>
    <url-pattern>/ShowAnnounceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PrTaNoticeServlet</servlet-name>
    <url-pattern>/PrTaNoticeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AuctionStateServlet</servlet-name>
    <url-pattern>/AuctionStateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AutionForListServlet</servlet-name>
    <url-pattern>/AutionForListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveAuctionServlet</servlet-name>
    <url-pattern>/SaveAuctionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AttestAndAttentionServlet</servlet-name>
    <url-pattern>/AttestAndAttentionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadPictureServlet</servlet-name>
    <url-pattern>/UploadPictureServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExportServlet</servlet-name>
    <url-pattern>/ExportServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AJAXServlet</servlet-name>
    <url-pattern>/AJAXServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteImageServlet</servlet-name>
    <url-pattern>/DeleteImageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminUpdatePass</servlet-name>
    <url-pattern>/AdminUpdatePass</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsureServlet</servlet-name>
    <url-pattern>/InsureServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>SingleFormFilter</display-name>
    <filter-name>SingleFormFilter</filter-name>
    <filter-class>cn.zlpc.servlet.filter.SingleFormFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SingleFormFilter</filter-name>
    <url-pattern>/SingleServlet</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>UrlRewriteFilter</filter-name>
    <filter-class>  
                org.tuckey.web.filters.urlrewrite.UrlRewriteFilter  
            </filter-class>
    <init-param>
      <param-name>logLevel</param-name>
      <param-value>WARN</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>